doctype html
html
    head
        title #{title}
    body
        h1 Show
        tache #{resultMessage}
        <br>
        tache #{resultCompletion}
        <br>
        tache #{resultDateCreated}
        <br>
        tache #{resultDateUpdated}